<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <section>
        <h2>{{ restaurant.get('name') }}</h2>
        <img src="{{restaurant.get('image_url')}}" alt="restaurant graph">
        <p><b>{{restaurant.get('display_address')}}</b></p>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="92%" color="white" size="1">
        <p>Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b>{{restaurant.get('price')}}</b></span></p>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="92%" color="lightgray" size="1">
        <p>Rating:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b>{{restaurant.get('rating')}}</b></span></p>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="92%" color="lightgray" size="1">
        <p>Reviews:&nbsp;&nbsp;<span><b>{{restaurant.get('review_count')}}</b></span></p>
        <hr style="FILTER: alpha(opacity=100,finishopacity=0,style=3)" width="92%" color="lightgray" size="1">
    </section>

</body>
</html>

